HaloWiki/web/enemies.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="enemies">
  <xs:complexType>
    <xs:sequence>
	</xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="race">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="info" type="xs:string"/>
			</xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>